<!DOCTYPE html>
<html lang="en">
    <%- include('header'); -%>
    <body>
        <%- include('navbar'); -%>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Login</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
            
                        <% if(typeof alertMsg !== 'undefined'){ %>
                            <div class="err-msg"><%= alertMsg %></div><% } %> 
                            
            <form action="/users/login" method="POST" enctype="multipart/form-data">
            <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>User Name</label>
                <input type="text" class="form-control" placeholder="User Name"
                id="username" name="username">
            </div>
            </div>
            <div class="control-group">
            <div class="form-group floating-label-form-group controls">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password"
                id="password" name="password">
            </div>
            </div>
            <br>  
            <div class="form-group">
            <button type="submit" class="btn btn-primary"
            id="sendMessageButton">Login</button>
            </div>
            </form>
            </div>
            </div>
            </div>
            </main>

        <%- include('footer'); -%>
        <%- include('script'); -%>
    </body>
</html>

